.one{
  height: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}
.title-and-price{
  color: white
}
.title-and-price:hover{
  background-color:black;
  height: 100px;
  width: 100%;
  padding: 0px 20px;
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}